version: "3.6"
services:
  mariadb:
    build: ./requirements/mariadb
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      DB_NAME: ${DB_NAME}
    volumes:
      - db:/var/lib/mysql
    networks:
      inception:
        ipv4_address: "10.12.69.1"
    restart: on-failure
    container_name: mariadb
  wordpress:
    build: ./requirements/wordpress
    volumes:
      - wp:/var/www
    restart: on-failure
    ports:
      - "9000:9000"
    environment:
      DB_USER: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}
      DB_NAME: ${DB_NAME}
      ADMIN_PASS: ${ADMIN_PASS}
      USER_PASS: ${USER_PASS}
    networks:
      inception:
        ipv4_address: "10.12.69.2"
    container_name: wordpress
    depends_on:
      - mariadb
  nginx:
    build: ./requirements/nginx
    volumes:
      - wp:/var/www
    ports:
      - "80:80"
      - "443:443"
    networks:
      inception:
        ipv4_address: "10.12.69.3"
    depends_on:
      - wordpress
    restart: on-failure
    container_name: nginx
  redis:
    build: ./requirements/bonus/redis
    restart: on-failure
    ports:
      - "6379:6379"
    networks:
      inception:
        ipv4_address: "10.12.69.4"
    container_name: redis
  adminer:
    build: ./requirements/bonus/adminer
    volumes:
      - wp:/var/www
    restart: on-failure
    ports:
      - "7000:7000"
    networks:
      inception:
        ipv4_address: "10.12.69.5"
    container_name: adminer
  ftp_server:
    build: ./requirements/bonus/ftp_server
    volumes:
      - wp:/home/${FTP_USER}/ftp/files
    restart: on-failure
    ports:
      - "21:21"
      - "40000-40010:40000-40010"
    environment:
      FTP_USER: ${FTP_USER}
      FTP_PASS: ${FTP_PASS}
    networks:
      inception:
        ipv4_address: "10.12.69.6"
    container_name: ftp_server
  static_website:
    build: ./requirements/bonus/static_website
    restart: on-failure
    ports:
      - "5000:5000"
    networks:
      inception:
        ipv4_address: "10.12.69.7"
    container_name: static_website
networks:
  inception:
   ipam:
     config:
       - subnet: "10.12.69.0/8"
volumes:
  wp:
    driver: local
    driver_opts:
      type: 'none' 
      o: bind
      device: $HOME/abenani/data/wp
  db:
    driver: local
    driver_opts:
      type: 'none' 
      o: bind
      device: $HOME/abenani/data/db